.navbar {
  color: orange;
  /* padding-bottom: 50px; */
  margin-bottom: 50px;
  font-size: large;
  background-color: white;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  padding: 0;
  font-size: x-large;
}

.navLink {
  text-decoration: none;
  color: navy;
}

.isActive {
  color: orange;
}

@media (max-width: 600px) {
  .navLinks {
    font-size: large;
  }
} 