.navbar {
  color: orange;
  background-color: white;
  padding-bottom: 50px;
  font-size: large;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.navLink {
  text-decoration: none;
  color: navy;
}

.isActive {
  color: orange;
}
