.button {
  margin: 10px auto;
  width: 200px;
  padding: 10px;
  border-radius: 16px;
  border: solid grey 1px;
  outline: none;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .button {
    width: 30%;
  }
}