.input {
  margin: 10px auto 10px auto;
  width: 350px;
  padding: 10px;
  border-radius: 10px;
  border-style: groove;
  outline: none;
}

@media (max-width: 650px) {
  .input {
    width: 250px;
  }
}