.input {
  margin: 10px auto 10px auto;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  border-style: groove;
  outline: none;
}


@media (max-width: 700px) {
  .input {
    width: 70%;
  }
}

