.auth {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  margin: auto;
  padding: 10px 10px 24px 10px;
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  
}

.title {
  background-color: orange;
  border-radius: 8px;
  padding: 4px;
}

.error {
  color: red;
}

@media (max-width: 600px) {
  .auth {
    width: 100%;
  }
} 