.homepage {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
  background-color: white;
}

/* .createPostButton {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 300px;
  margin-left: 300px;
  padding: 10px;
  border-radius: 30px;
  border-style: groove;
} */

@media (max-width: 600px) {
  .homepage {
    width: 100%;
  }
} 