.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  background-color: white;
}

.posts {
  width: 100%;
  margin: auto;
}

@media (min-width: 959px) {
  .homepage {
    padding-left: 300px;

    margin-top: 65px;
  }
  .posts {
    width: 650px;
  }
}

/* @media (min-width: 1600px) {
  .homepage {
    width: 1200px;
  }
} */
